
<div style=" margin-left: auto; margin-right: auto; padding: 32px;" class="screen-width ">
    <div  style="display: flex; flex-wrap: wrap;"> 
             
        <div *ngFor="let activity of activityList"  style=" border: 1px solid black; margin: 16px;  border-radius: 16px; " class="activity-tile">
        <div class="zoom" style="display: flex;
        flex-direction: column;
        align-items: center;">
<img  [src]="activity.activity_image" height="64px" width="auto">
<p style="margin-top: 12px;text-align: center; ">{{activity.name}}</p>
        </div>
            
        </div>
        
    </div>
</div>