<div style="margin-left: auto; margin-right: auto; " class="screen-width">
    <div class="mat-title-medium">
        {{aboutBuzzUp?.title}}
    </div>
    
    <div *ngFor="let content of aboutBuzzUp.content_list">
        <p style="text-align: justify;">{{content?.content}}</p>
    
    </div>
    
    <div>
        {{aboutTeam?.title}}
    </div>
    
    <div *ngFor="let content of aboutTeam.content_list" style="display: flex; flex-direction: column; align-items: center;">
        <img [src]="content?.content?.image" height="150px" width="150px" style="border-radius: 50%;">
        <p>{{content?.content?.title}}</p>
        <p style="text-align: justify;">{{content?.content?.content}}</p>
    
    </div>
</div>