<div class="login-container">
  <div class="login-left">
    <h2>Login! 👋</h2>
    <p>How do I get started?</p>

    <form [formGroup]="loginForm">
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        placeholder="Email"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <button mat-button type="submit" (click)="onSubmit()"class="btn btn-signin">Sign In</button>
    </form>
    <div *ngIf="loginForm.invalid && loginForm.touched" class="error-message">
      Please enter valid credentials.
    </div>

    <!-- <p>Don't have an account? <a href="#">Sign Up Now</a></p> -->
  </div>
</div>
