
    <div style=" margin-left: auto; margin-right: auto;" class="screen-width">
        <div class="search-screen" style=" border: 1px solid black;margin-top: 16px; margin-left: auto; margin-right: auto;  background-color: azure; border-radius: 30px; padding: 8px;" >
            
            <div  class="style-search-bar " style=" margin-left: auto; margin-right: auto; margin: 10px; display: flex; justify-content: space-between; align-items: center; background-color: white; border-radius: 30px; padding: 12px;">
                <span style="display: flex;">
                    <mat-icon>search</mat-icon>
                    <span> Try "Dance"</span>
                </span>
                <span style="background-color: aqua; padding: 8px; border-radius: 30px;">
                    Search
                </span>
                
            </div>
        </div>

       
        
        <div *ngIf="activityList.length" style="display: flex; border: 1px solid black; margin-top: 20px;height: 70px;;padding: 16px;;border-radius: 10px; width: 90%; overflow-x: scroll; overflow-y: hidden;">
            <div class="zoom" *ngFor="let activity of activityList" style="padding: 4px; cursor: pointer; margin-left: 40px;   display: flex;
            flex-direction: column;
            align-items: center;">
                <img   [src]="activity.activity_image" height="32px" width="auto">
                <p style="margin-top: 4px;text-align: center; ">{{activity.name}}</p>
            </div>
            
            
        </div>

        <div style="display: flex; justify-content: space-between;  margin-bottom: 32px; margin-top: 32px; flex-wrap: wrap;" >
            <div style="display: flex; flex-direction: column; align-items: center ; " *ngFor="let o of buzzupValues"  class="promo-banner">
                <mat-icon style="height: 50px; font-size: 50px; width: 50px; margin-bottom: 16px;">{{o.icon}}</mat-icon>
                <p style="margin: 0px; ">{{o.title}}</p>
    
    
                <p style="text-align: justify;">{{o.subTitle}}</p>
    
            </div>
    
        </div>
        
        <div style="margin-top: 32px;">
            <h2 class="mat-headline-large " style="margin: 12px;">29 million teachers to choose your home tutor from!</h2>
           
        </div>
    
        
        
        <div *ngIf="coachesList.length" style="display: flex;  width: 100%; overflow-x: scroll; overflow-y: hidden; margin-top: 12px;">
            <div *ngFor="let activity of coachesList" style="margin-left: 16px; display: flex; flex-direction: column; max-width: 350px; height: 450px;" (click)="showCoach(activity.coach_id)"> 
    
                
                <div style="position: relative;
                overflow: hidden;
                width: 350px;
                max-width: 350px;
                max-height: 350px;
                color: white;">
                <img  [src]="activity.profile_image"  height="350px" width="100%" style="border-radius: 10px; max-width: 350px; max-height: 350px;">
    
                    <p style="    position: absolute;
                    bottom: -16px;
                    width: 350px;
                    padding: 12px 16px;
                    background: black;
                    opacity: 0.75;
                    overflow: hidden;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;"
                    >{{activity.name}}</p>
    
    <mat-icon style="position: absolute;
    top: 8px;
    right: 16px;">favorite</mat-icon>
                </div>
    
                <div style="display: flex; align-items: center;">
                    <mat-icon>star</mat-icon>
                    <span style="margin-left: 12px;">4.3/5.0</span>
    
                    <!-- <mat-chip style="display: flex; justify-content: center; align-items: center;">
                        <mat-icon>new_releases</mat-icon>
                        New
                      </mat-chip> -->
                </div>
    
                <p style="color: black; margin: 0px;">{{activity.intro}}</p>
    
               
                
                
            </div>
        </div>

        <div style="margin-bottom: 32px;">
            <h2 class="mat-headline-large" style="margin: 12px;">How Buzzup works:</h2>
            <div style="display: flex; justify-content: space-between;" >
                <div class="padding-screen" style="height: 425px; overflow: hidden; width:  27%; border: 1px solid black ; border-radius: 16px;" *ngFor="let val of buzzupWorks">
                    <p style="background-color: aqua; width: 40px; justify-content: center;border-radius: 10px;
                    align-items: center;
                    display: flex;height: 40px; text-align: center; padding: 8px; margin: 0px;">{{val.id}}</p>

                    <h3 class="mat-headline-large">{{val.title}}</h3>

                    <p>{{val.subTitle}}</p>

                    <img width="100%" [src]="val.image">


                </div>

            </div>
            
        </div>
    
        <div style="display: flex; align-items: center; flex-direction: column; width: 100%; margin-bottom: 32px; border: 1px solid black; border-radius: 16px;">
            <h1>Try us out Risk Free!</h1>

            <p style="padding: 8px; text-align: justify;">Nothing is more important to us than making sure it’s a great match. That’s why we offer a no obligation risk-free trial lesson; if you aren’t completely satisfied the first lesson is free!</p>
        </div>
    

        <div style="display: flex; justify-content: space-between; margin-bottom: 32px;">
            <div style="width: 48%;">
                <p style="font-size: 36px; width: 90%; margin-left: auto; margin-right: auto;" >Testimonials from Parents</p>
                <p style="width: 90%; margin-left: auto; margin-right: auto;">
                    Myra - Child
                </p>
            </div>
            <audio controls src="../../assets/AUD-20240806-WA0001.m4a" style="width: 48%; margin-top: 20px;" type="audio/m4a"></audio>
            <!-- <video src="../../assets/big_buck_bunny_720p_1mb.mp4" ></video> -->

        </div>

       
       
    
       
    </div>
